<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>JSON数据展示</title>
    <link rel="icon" href="data:image/ico;base64,aWNv" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/layui/2.8.17/css/layui.min.css"
      media="all"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/layui/2.8.17/layui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </head>
  <body>
    <div class="layui-fluid">
      <div class="layui-row">
        <div class="layui-col-xs12">
          <div class="layui-card">
            <div
              class="layui-card-header"
              style="padding-top: 15px; padding-bottom: 15px; height: auto"
            >
              <!-- 搜索框 -->
              <form class="layui-form" action="" id="searchForm">
                <div class="layui-form-item">
                  <div class="layui-inline">
                    <label class="layui-form-label">文件</label>
                    <div class="layui-input-block">
                      <select
                        name="filePath"
                        lay-verify="required"
                        id="fileSelect"
                      >
                        <!-- 动态加载日志文件选项将会在这里 -->
                      </select>
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">搜索内容</label>
                    <div class="layui-input-inline">
                      <input
                        type="text"
                        name="search"
                        placeholder="请输入搜索内容"
                        autocomplete="off"
                        class="layui-input"
                      />
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">一致性</label>
                    <div class="layui-input-inline">
                      <select name="filterSame" lay-verify="required">
                        <option value="all" selected>全部</option>
                        <option value="true">相同</option>
                        <option value="false">不同</option>
                      </select>
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">标注</label>
                    <div class="layui-input-inline">
                      <select name="filterLabel" lay-verify="required">
                        <option value="all" selected>全部</option>
                        <option value="True">True</option>
                        <option value="False">False</option>
                        <option value="Unknown">Unknown</option>
                      </select>
                    </div>
                  </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">AI标签</label>
                    <div class="layui-input-inline">
                      <select name="filterAILabel" lay-verify="required">
                        <option value="all" selected>全部</option>
                        <option value="True">True</option>
                        <option value="False">False</option>
                        <option value="Unknown">Unknown</option>
                        <option value="Error">Error</option>
                      </select>
                    </div>
                  </div>
                  <button class="layui-btn" lay-submit lay-filter="doSearch">
                    搜索
                  </button>
                </div>
              </form>
            </div>
            <div class="layui-card-body">
              <!-- 显示正确率和错误数量 -->
              <div style="padding-bottom: 10px">
                统计信息
                <p>正确率(不包括error): <span id="accuracy"></span></p>
                <p>标签Error数量: <span id="errorCount"></span></p>
              </div>
              <table id="demo" lay-filter="test"></table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 工具条的HTML模板定义 -->
    <script type="text/html" id="barDemo">
      <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
    </script>

    <script>
      // 获取文件列表
      $.get("/files", function (data) {
        var files = data.files;
        var select = $("#fileSelect");
        files.forEach(function (file) {
          select.append('<option value="' + file + '">' + file + "</option>");
        });
        layui.form.render("select"); // 更新渲染
      });
      layui.use(["table", "form", "layer"], function () {
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var originalData = []; // 用于存储原始数据

        // 定义表格的设置
        var tableOptions = {
          elem: "#demo",
          cols: [
            [
              { field: "id", title: "ID" },
              {
                field: "num",
                title: "前提数量",
                sort: true,
              },
              { field: "response", title: "逻辑公式" },
              { field: "label", title: "标签" },
              { field: "label-AI", title: "AI输出标签" },
              {
                field: "same",
                title: "一致",

                templet: function (d) {
                  return `<button class="layui-btn layui-btn-xs ${
                    d.same ? "layui-btn-normal" : "layui-btn-danger"
                  }">${d.same ? "True" : "False"}</button>`;
                },
              },
              { title: "操作", toolbar: "#barDemo" },
            ],
          ],
          page: true,
        };

        // 加载数据
        function loadData(data) {
          var filterText = data ? data.search : null;
          var filePath = data ? data.filePath : "res.jsonl";
          var filterSame = data ? data.filterSame : "all"; // 新增筛选参数
          var filterLabel = data ? data.filterLabel : "all"; // 新增筛选参数
          var filterAILabel = data ? data.filterAILabel : "all"; // 新增筛选参数
          $.ajax({
            type: "GET",
            url: "/file/" + filePath, // 你的JSONL文件路径
            dataType: "text",
            success: function (data) {
              // 替换双换行符为单换行符
              data = data.replace(/\n\n/g, "\n");
              var lines = data.trim().split("\n");
              originalData = lines.map(function (line) {
                try {
                  var item = JSON.parse(line);
                  // 确保num字段是基于premises的长度，并且是数字类型
                  item.num = item.premises.length;
                  return item;
                } catch (e) {
                  console.error("无法解析JSONL数据: " + line);
                  return "";
                }
              });

              if (filterText) {
                // 根据搜索内容过滤数据
                tableOptions.data = originalData.filter(function (item) {
                  return (
                    item.example_id == filterText ||
                    item["premises-FOL"].join(" ").includes(filterText) ||
                    item.response.join(" ").includes(filterText)
                  );
                });
              } else {
                tableOptions.data = originalData;
              }

              if (filterSame !== "all") {
                // 根据筛选条件进一步过滤数据
                var isSame = filterSame === "true"; // 将筛选值转换为布尔值
                tableOptions.data = tableOptions.data.filter(function (item) {
                  return item.same === isSame;
                });
              }
              if (filterLabel !== "all") {
                // 根据筛选条件进一步过滤数据
                tableOptions.data = tableOptions.data.filter(function (item) {
                  return item.label === filterLabel;
                });
              }
              if (filterAILabel !== "all") {
                // 根据筛选条件进一步过滤数据
                tableOptions.data = tableOptions.data.filter(function (item) {
                  return item["label-AI"] === filterAILabel;
                });
              }
              //打印id构成的数组
              console.log(tableOptions.data.map((item) => item.id));
              // 计算正确率和错误数量
              var totalCount = tableOptions.data.length;
              var totalCount = tableOptions.data.filter(function (item) {
                return item["label-AI"] !== "Error";
              }).length;
              var trueCount = tableOptions.data.filter(function (item) {
                return item.same === true;
              }).length;
              var falseCount = tableOptions.data.filter(function (item) {
                return item["label-AI"] === "Error";
              }).length;
              var accuracy = (trueCount / totalCount) * 100;
              $("#accuracy").text(accuracy.toFixed(2) + "%");
              $("#errorCount").text(falseCount);

              table.render(tableOptions);
            },
            error: function () {
              console.error("无法加载JSONL数据");
            },
          });
        }

        loadData(); // 首次加载数据

        // 监听搜索事件
        form.on("submit(doSearch)", function (data) {
          loadData(data.field);
          return false; // 阻止表单跳转
        });

        // 监听工具条事件
        table.on("tool(test)", function (obj) {
          var data = obj.data; // 获取当前行数据
          if (obj.event === "detail") {
            // 将\n替换为<br>以在HTML中正确显示换行
            //数组转字符串
            data["premises"] = data["premises"].join("<br><hr>");
            data["premises-FOL"] = data["premises-FOL"].join("<br><hr>");
            data["response"] = data["response"].join("<br><hr>");
            var details = `<div class="">
  <div class="layui-row">
    <!-- 自然语言 -->
    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
      <table class="layui-table" border="1">
        <tr>
          <th>自然语言</th>
        </tr>
        ${data["premises"]
          .split("<br><hr>")
          .map((item) => `<tr><td>${item}</td></tr>`)
          .join("")}
      </table>
    </div>

    <!-- GPT输出 -->
    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
      <table class="layui-table" border="1">
        <tr>
          <th>GPT输出</th>
        </tr>
        ${data["response"]
          .split("<br><hr>")
          .map((item) => `<tr><td>${item}</td></tr>`)
          .join("")}
      </table>
    </div>
  </div>
  <table class="layui-table" border="1">
  <tr>
    <th>结论</th>
    <th>参考结论</th>
    <th>结论-FOL（GPT）</th>
  </tr>
  <tr>
    <td>${data["conclusion"]}</td>
    <td>${data["conclusion-FOL"]}</td>
    <td>${data["conclusion-AI"]}</td>
  </tr>
</table>
  <table class="layui-table" border="1">
  <tr>
    <th>常量</th>
    <th>谓词</th>
    <th>错误日志</th>
  </tr>
  <tr>
    <td>${data["constants-AI"].replace(/\n/g, "<br>")}</td>
    <td>${data["predicates-AI"].replace(/\n/g, "<br>")}</td>
    <td>${data["errmsg"].replace(/\n/g, "<br>")}</td>
  </tr>
</table>
</div>
  <table class="layui-table" border="1">
  <tr>
    <th>标注参考</th>
  </tr>
  <tr>
    <td>${data["premises-FOL"]}</td>
  </tr>
</table>
`;

            // <!-- 其他表格可以继续放在这里，它们将显示在下一行 -->
            //   <table class="layui-table" border="1">
            //     <tr>
            //       <th>常量</th>
            //       <th>谓词</th>
            //     </tr>
            //     <tr>
            //       <td>${data["FOL_Analysis"]["constants"]}</td>
            //       <td>${JSON.stringify(data["FOL_Analysis"]["predicates"])}</td>
            //     </tr>
            //   </table>
            // <table class="layui-table" border="1">
            //   <tr>
            //     <th>提示</th>
            //   </tr>
            //   <tr>
            //     <td>${marked.parse(data["prompt"])}</td>
            //   </tr>
            // </table>
            // </div>
            index = layer.open({
              title: "详细信息",
              content: details,
              shadeClose: true, //点击遮罩关闭层
              maxmin: true,
              area: ["85%", "85%"],
            });
            // 设置弹层最大化
            layer.full(index);
          }
        });
      });
    </script>
  </body>
</html>
